# Pandas | Machine Learning | Coding Ninjas

In [2]:
import pandas as pd
import numpy as np

## Loading Data using Pandas

In [3]:
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")

print("Iris Database:")
print(iris)
print("Iris Data Type:")
print(type(iris))

Iris Database:
     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]
Iris Data Type:
<class 'pandas.core.frame.DataFrame'>

#### Making a copy of Iris Database as if we implement any changes then it is not affected on Iris Database

In [4]:
df = iris.copy()

## Implementing Functions on Iris Database Copy

#### Head Function

In [5]:
print(df.head())
# By Default the rows will be 5

# We can also pass rows in the empty bracket
print(df.head(3))

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa
   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa

#### Column Function (Column Headings of the Table)

In [6]:
print(df.columns)

Index(['5.1', '3.5', '1.4', '0.2', 'Iris-setosa'], dtype='object')

#### Index Function (Row Headings of the Table i.e. Index)

In [7]:
print(df.index)

RangeIndex(start=0, stop=149, step=1)

#### As it is directly fetching first row of data as header so now we will be fetching in right way.

In [8]:
df.columns = ['sl','sw','pl','pw','flower_type']
print(df)

# sl = sepal length
# sw = sepal width
# pl = petal length
# pw = petal width

      sl   sw   pl   pw     flower_type
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

#### Shape Function

In [9]:
print("Shape =",df.shape)

Shape = (149, 5)

#### Data type Function

In [10]:
print(df.dtypes)

sl             float64
sw             float64
pl             float64
pw             float64
flower_type     object
dtype: object

#### Describe Function

In [11]:
print(df.describe())

               sl          sw          pl          pw
count  149.000000  149.000000  149.000000  149.000000
mean     5.848322    3.051007    3.774497    1.205369
std      0.828594    0.433499    1.759651    0.761292
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [12]:
# Accessing a particular column

#Two ways to access
print(df.sl)
print(df["sl"])

0      4.9
1      4.7
2      4.6
3      5.0
4      5.4
      ...
144    6.7
145    6.3
146    6.5
147    6.2
148    5.9
Name: sl, Length: 149, dtype: float64
0      4.9
1      4.7
2      4.6
3      5.0
4      5.4
      ...
144    6.7
145    6.3
146    6.5
147    6.2
148    5.9
Name: sl, Length: 149, dtype: float64

#### isNull Function

In [13]:
print(df.isnull())

# We can also fetch that how many null entries are (column wise)
print(df.isnull().sum())

        sl     sw     pl     pw  flower_type
0    False  False  False  False        False
1    False  False  False  False        False
2    False  False  False  False        False
3    False  False  False  False        False
4    False  False  False  False        False
..     ...    ...    ...    ...          ...
144  False  False  False  False        False
145  False  False  False  False        False
146  False  False  False  False        False
147  False  False  False  False        False
148  False  False  False  False        False

[149 rows x 5 columns]
sl             0
sw             0
pl             0
pw             0
flower_type    0
dtype: int64

#### iloc Function (pron. "eye lock")

#### iloc is used for fetching a particular data also called slicing the data.

In [14]:
print(df.iloc[1:4,2:4])

# First argument = Rows
# Second argument = Columns

    pl   pw
1  1.3  0.2
2  1.5  0.2
3  1.4  0.2

## Drop Row Data in Iris Data Copy

#### Deleting Rows (Drop by Labels)

In [15]:
print(df)
df.drop(0)
print(df)

      sl   sw   pl   pw     flower_type
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]
      sl   sw   pl   pw     flower_type
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

#### Now we can see the above scenario that the data in "df" is not changing it is making the copy of it and not changing the actual "df" database. Now if you want to change in database "df" itself then pass another argument i.e. inplace = True.

In [16]:
print(df)
df.drop(0, inplace = True)
print(df)

      sl   sw   pl   pw     flower_type
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]
      sl   sw   pl   pw     flower_type
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
5    4.6  3.4  1.4  0.3     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[148 rows x 5 columns]

#### NOTE: Now as we can see the complete 0 Row is deleted from the database including the 0 index.

#### REMEMBER: In this dataset 0 is not the position 0 is the label we are deleted complete row with the label and after this we can not access 0 row anymore.

#### Deleting Rows (Drop by Positions)

In [17]:
print(df.index[0])
print(df.drop(df.index[0], inplace = True))
print(df)

1
None
      sl   sw   pl   pw     flower_type
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
5    4.6  3.4  1.4  0.3     Iris-setosa
6    5.0  3.4  1.5  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[147 rows x 5 columns]

## Applying Conditions on DataFrame

In [18]:
print(df.sl > 5.5)

# If we want only rows to be shown which satifies the above condition
print(df[df.sl > 5.5])

2      False
3      False
4      False
5      False
6      False
       ...
144     True
145     True
146     True
147     True
148     True
Name: sl, Length: 147, dtype: bool
      sl   sw   pl   pw      flower_type
13   5.8  4.0  1.2  0.2      Iris-setosa
14   5.7  4.4  1.5  0.4      Iris-setosa
17   5.7  3.8  1.7  0.3      Iris-setosa
49   7.0  3.2  4.7  1.4  Iris-versicolor
50   6.4  3.2  4.5  1.5  Iris-versicolor
..   ...  ...  ...  ...              ...
144  6.7  3.0  5.2  2.3   Iris-virginica
145  6.3  2.5  5.0  1.9   Iris-virginica
146  6.5  3.0  5.2  2.0   Iris-virginica
147  6.2  3.4  5.4  2.3   Iris-virginica
148  5.9  3.0  5.1  1.8   Iris-virginica

[91 rows x 5 columns]

In [19]:
print(df[df.flower_type == 'Iris-virginica'])
print()

# Now we want to find "describe" for this "Iris-virginica" particular flower
print(df[df.flower_type == 'Iris-virginica'].describe())

      sl   sw   pl   pw     flower_type
99   6.3  3.3  6.0  2.5  Iris-virginica
100  5.8  2.7  5.1  1.9  Iris-virginica
101  7.1  3.0  5.9  2.1  Iris-virginica
102  6.3  2.9  5.6  1.8  Iris-virginica
103  6.5  3.0  5.8  2.2  Iris-virginica
104  7.6  3.0  6.6  2.1  Iris-virginica
105  4.9  2.5  4.5  1.7  Iris-virginica
106  7.3  2.9  6.3  1.8  Iris-virginica
107  6.7  2.5  5.8  1.8  Iris-virginica
108  7.2  3.6  6.1  2.5  Iris-virginica
109  6.5  3.2  5.1  2.0  Iris-virginica
110  6.4  2.7  5.3  1.9  Iris-virginica
111  6.8  3.0  5.5  2.1  Iris-virginica
112  5.7  2.5  5.0  2.0  Iris-virginica
113  5.8  2.8  5.1  2.4  Iris-virginica
114  6.4  3.2  5.3  2.3  Iris-virginica
115  6.5  3.0  5.5  1.8  Iris-virginica
116  7.7  3.8  6.7  2.2  Iris-virginica
117  7.7  2.6  6.9  2.3  Iris-virginica
118  6.0  2.2  5.0  1.5  Iris-virginica
119  6.9  3.2  5.7  2.3  Iris-virginica
120  5.6  2.8  4.9  2.0  Iris-virginica
121  7.7  2.8  6.7  2.0  Iris-virginica
122  6.3  2.7  4.9  1.8  Iris-virginica
123  6.7  3.3  5.7  2.1  Iris-virginica
124  7.2  3.2  6.0  1.8  Iris-virginica
125  6.2  2.8  4.8  1.8  Iris-virginica
126  6.1  3.0  4.9  1.8  Iris-virginica
127  6.4  2.8  5.6  2.1  Iris-virginica
128  7.2  3.0  5.8  1.6  Iris-virginica
129  7.4  2.8  6.1  1.9  Iris-virginica
130  7.9  3.8  6.4  2.0  Iris-virginica
131  6.4  2.8  5.6  2.2  Iris-virginica
132  6.3  2.8  5.1  1.5  Iris-virginica
133  6.1  2.6  5.6  1.4  Iris-virginica
134  7.7  3.0  6.1  2.3  Iris-virginica
135  6.3  3.4  5.6  2.4  Iris-virginica
136  6.4  3.1  5.5  1.8  Iris-virginica
137  6.0  3.0  4.8  1.8  Iris-virginica
138  6.9  3.1  5.4  2.1  Iris-virginica
139  6.7  3.1  5.6  2.4  Iris-virginica
140  6.9  3.1  5.1  2.3  Iris-virginica
141  5.8  2.7  5.1  1.9  Iris-virginica
142  6.8  3.2  5.9  2.3  Iris-virginica
143  6.7  3.3  5.7  2.5  Iris-virginica
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

             sl         sw         pl        pw
count  50.00000  50.000000  50.000000  50.00000
mean    6.58800   2.974000   5.552000   2.02600
std     0.63588   0.322497   0.551895   0.27465
min     4.90000   2.200000   4.500000   1.40000
25%     6.22500   2.800000   5.100000   1.80000
50%     6.50000   3.000000   5.550000   2.00000
75%     6.90000   3.175000   5.875000   2.30000
max     7.90000   3.800000   6.900000   2.50000

## Add Row Data in Iris Data Copy

In [20]:
# Difference b/w iloc and loc
# iloc is index based
# loc is labeled based
print(df.loc[2])

# Adding data
df.loc[0] = [1,2,3,4,"Iris-setosa"]
print(df)

sl                     4.6
sw                     3.1
pl                     1.5
pw                     0.2
flower_type    Iris-setosa
Name: 2, dtype: object
      sl   sw   pl   pw     flower_type
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
5    4.6  3.4  1.4  0.3     Iris-setosa
6    5.0  3.4  1.5  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica
0    1.0  2.0  3.0  4.0     Iris-setosa

[148 rows x 5 columns]

## Reset Index

In [21]:
print(df.reset_index())
print(df)

     index   sl   sw   pl   pw     flower_type
0        2  4.6  3.1  1.5  0.2     Iris-setosa
1        3  5.0  3.6  1.4  0.2     Iris-setosa
2        4  5.4  3.9  1.7  0.4     Iris-setosa
3        5  4.6  3.4  1.4  0.3     Iris-setosa
4        6  5.0  3.4  1.5  0.2     Iris-setosa
..     ...  ...  ...  ...  ...             ...
143    145  6.3  2.5  5.0  1.9  Iris-virginica
144    146  6.5  3.0  5.2  2.0  Iris-virginica
145    147  6.2  3.4  5.4  2.3  Iris-virginica
146    148  5.9  3.0  5.1  1.8  Iris-virginica
147      0  1.0  2.0  3.0  4.0     Iris-setosa

[148 rows x 6 columns]
      sl   sw   pl   pw     flower_type
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
5    4.6  3.4  1.4  0.3     Iris-setosa
6    5.0  3.4  1.5  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica
0    1.0  2.0  3.0  4.0     Iris-setosa

[148 rows x 5 columns]

#### Now there are some issues while reseting the index

#### 1. A new index column of old index has been added which we don't want. So the solution to this is we have to pass an argument i.e. drop = True
#### 2. The changes are not done in the actual "df" it is making the copy so we have to pass an another argument i.e. inplace = True

In [22]:
print(df.reset_index(drop = True, inplace = True))
print(df)

None
      sl   sw   pl   pw     flower_type
0    4.6  3.1  1.5  0.2     Iris-setosa
1    5.0  3.6  1.4  0.2     Iris-setosa
2    5.4  3.9  1.7  0.4     Iris-setosa
3    4.6  3.4  1.4  0.3     Iris-setosa
4    5.0  3.4  1.5  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
143  6.3  2.5  5.0  1.9  Iris-virginica
144  6.5  3.0  5.2  2.0  Iris-virginica
145  6.2  3.4  5.4  2.3  Iris-virginica
146  5.9  3.0  5.1  1.8  Iris-virginica
147  1.0  2.0  3.0  4.0     Iris-setosa

[148 rows x 5 columns]

## Delete Column Data in Iris Data Copy

#### Deleting Column using Drop Function

In [23]:
df.drop('sl', axis = 1, inplace = True)
print(df)
# axis = 1 | It shows that we have to delete column wise

      sw   pl   pw     flower_type
0    3.1  1.5  0.2     Iris-setosa
1    3.6  1.4  0.2     Iris-setosa
2    3.9  1.7  0.4     Iris-setosa
3    3.4  1.4  0.3     Iris-setosa
4    3.4  1.5  0.2     Iris-setosa
..   ...  ...  ...             ...
143  2.5  5.0  1.9  Iris-virginica
144  3.0  5.2  2.0  Iris-virginica
145  3.4  5.4  2.3  Iris-virginica
146  3.0  5.1  1.8  Iris-virginica
147  2.0  3.0  4.0     Iris-setosa

[148 rows x 4 columns]

#### Deleting Column using "del"

In [24]:
del df['sw']
print(df)

      pl   pw     flower_type
0    1.5  0.2     Iris-setosa
1    1.4  0.2     Iris-setosa
2    1.7  0.4     Iris-setosa
3    1.4  0.3     Iris-setosa
4    1.5  0.2     Iris-setosa
..   ...  ...             ...
143  5.0  1.9  Iris-virginica
144  5.2  2.0  Iris-virginica
145  5.4  2.3  Iris-virginica
146  5.1  1.8  Iris-virginica
147  3.0  4.0     Iris-setosa

[148 rows x 3 columns]

## Add Column Data in Iris Data Copy

In [25]:
df['diff_pl_pw'] = df['pl'] - df['pw']
print(df)

      pl   pw     flower_type  diff_pl_pw
0    1.5  0.2     Iris-setosa         1.3
1    1.4  0.2     Iris-setosa         1.2
2    1.7  0.4     Iris-setosa         1.3
3    1.4  0.3     Iris-setosa         1.1
4    1.5  0.2     Iris-setosa         1.3
..   ...  ...             ...         ...
143  5.0  1.9  Iris-virginica         3.1
144  5.2  2.0  Iris-virginica         3.2
145  5.4  2.3  Iris-virginica         3.1
146  5.1  1.8  Iris-virginica         3.3
147  3.0  4.0     Iris-setosa        -1.0

[148 rows x 4 columns]

## -----Copy "df" database from "Iris"-----

In [26]:
df = iris.copy()
df.columns = ['sl','sw','pl','pw','flower_type']
print(df)

      sl   sw   pl   pw     flower_type
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

## Handling NaN

#### As in our current "iris" database there is no NaN entry so we will firstly adding NaN then handling them.

In [27]:
df.iloc[2:4,1:3] = np.nan
print(df)

      sl   sw   pl   pw     flower_type
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  NaN  NaN  0.2     Iris-setosa
3    5.0  NaN  NaN  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [28]:
print(df.describe())

               sl          sw          pl          pw
count  149.000000  147.000000  147.000000  149.000000
mean     5.848322    3.046939    3.806122    1.205369
std      0.828594    0.434048    1.750351    0.761292
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

#### dropna Function

#### Deleting all the rows which have NaN entries. In our case Row 2 and 3 will be deleted

In [29]:
df.dropna(inplace = True)
print(df)

      sl   sw   pl   pw     flower_type
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
5    4.6  3.4  1.4  0.3     Iris-setosa
6    5.0  3.4  1.5  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[147 rows x 5 columns]

In [30]:
print(df.reset_index(drop = True, inplace = True))
df.iloc[2:4,1:3] = np.nan
print(df)

None
      sl   sw   pl   pw     flower_type
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    5.4  NaN  NaN  0.4     Iris-setosa
3    4.6  NaN  NaN  0.3     Iris-setosa
4    5.0  3.4  1.5  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
142  6.7  3.0  5.2  2.3  Iris-virginica
143  6.3  2.5  5.0  1.9  Iris-virginica
144  6.5  3.0  5.2  2.0  Iris-virginica
145  6.2  3.4  5.4  2.3  Iris-virginica
146  5.9  3.0  5.1  1.8  Iris-virginica

[147 rows x 5 columns]

#### Now, we don't want to drop that rows which are having NaN entries instead of droping i want to insert some values on those elements.

#### There are several ways we can add data.
#### 1. We can add MEAN of that particular column on those entries.
#### 2. We can add MOST OCCURING NUMBER of that particular column on those entries.
#### 3. We can add MEAN of that particular column with that partcular flower on those entries.

#### Currently I am using 1 from above for sw and 3 for pl.

In [31]:
df.sw.fillna(df.sw.mean(), inplace = True)
df.pl.fillna(df[df.flower_type == 'Iris-setosa'].pl.mean(),inplace = True)
print(df)

      sl        sw        pl   pw     flower_type
0    4.9  3.000000  1.400000  0.2     Iris-setosa
1    4.7  3.200000  1.300000  0.2     Iris-setosa
2    5.4  3.038621  1.462222  0.4     Iris-setosa
3    4.6  3.038621  1.462222  0.3     Iris-setosa
4    5.0  3.400000  1.500000  0.2     Iris-setosa
..   ...       ...       ...  ...             ...
142  6.7  3.000000  5.200000  2.3  Iris-virginica
143  6.3  2.500000  5.000000  1.9  Iris-virginica
144  6.5  3.000000  5.200000  2.0  Iris-virginica
145  6.2  3.400000  5.400000  2.3  Iris-virginica
146  5.9  3.000000  5.100000  1.8  Iris-virginica

[147 rows x 5 columns]

## Handling Strings

#### Suppose we have a new column i.e. Gender and in that we have two entries i.e. male and female. Now we want to change these entries to 0,1 respectively.

#### Creating a new column Gender

In [35]:
df['Gender'] = 'Male'
df.iloc[0:10,5] = 'Female'
print(df)

      sl        sw        pl   pw     flower_type  Gender
0    4.9  3.000000  1.400000  0.2     Iris-setosa  Female
1    4.7  3.200000  1.300000  0.2     Iris-setosa  Female
2    5.4  3.038621  1.462222  0.4     Iris-setosa  Female
3    4.6  3.038621  1.462222  0.3     Iris-setosa  Female
4    5.0  3.400000  1.500000  0.2     Iris-setosa  Female
..   ...       ...       ...  ...             ...     ...
142  6.7  3.000000  5.200000  2.3  Iris-virginica    Male
143  6.3  2.500000  5.000000  1.9  Iris-virginica    Male
144  6.5  3.000000  5.200000  2.0  Iris-virginica    Male
145  6.2  3.400000  5.400000  2.3  Iris-virginica    Male
146  5.9  3.000000  5.100000  1.8  Iris-virginica    Male

[147 rows x 6 columns]

#### Converting Male to 0 and Female to 1

In [36]:
def genderFunction(str):
    if str == 'Male':
        return 0
    else:
        return 1

df['Sex'] = df.Gender.apply(genderFunction)
print(df)

      sl        sw        pl   pw     flower_type  Gender  Sex
0    4.9  3.000000  1.400000  0.2     Iris-setosa  Female    1
1    4.7  3.200000  1.300000  0.2     Iris-setosa  Female    1
2    5.4  3.038621  1.462222  0.4     Iris-setosa  Female    1
3    4.6  3.038621  1.462222  0.3     Iris-setosa  Female    1
4    5.0  3.400000  1.500000  0.2     Iris-setosa  Female    1
..   ...       ...       ...  ...             ...     ...  ...
142  6.7  3.000000  5.200000  2.3  Iris-virginica    Male    0
143  6.3  2.500000  5.000000  1.9  Iris-virginica    Male    0
144  6.5  3.000000  5.200000  2.0  Iris-virginica    Male    0
145  6.2  3.400000  5.400000  2.3  Iris-virginica    Male    0
146  5.9  3.000000  5.100000  1.8  Iris-virginica    Male    0

[147 rows x 7 columns]

#### So now we can easily perform some calculations around Gender male and female.